<ion-header>

  <ion-navbar>
    <ion-title>Registration Form</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="signupForm" novalidate>
    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input #name formControlName="name" type="text" [class.invalid]="!signupForm.controls.name.valid && signupForm.controls.name.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.name.valid && signupForm.controls.name.touched">
      Name is required
    </ion-item>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.touched">
      Please enter a valid email
    </ion-item>
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input #password formControlName="password" type="password" [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid && signupForm.controls.password.touched">
      Password should be 6 characters long
    </ion-item>
    <ion-item>
      <ion-label stacked>Confirm Password</ion-label>
      <ion-input #cpassword formControlName="cpassword" type="password" [class.invalid]="!signupForm.controls.cpassword.valid && signupForm.controls.cpassword.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.cpassword.valid && signupForm.controls.cpassword.touched">
      Password should be 6 characters long
    </ion-item>
    <ion-item>
      <ion-label stacked>Gender</ion-label>
      <ion-select #gender formControlName="gender" [class.invalid]="!signupForm.controls.gender.valid && signupForm.controls.gender.touched" interface="popover">
        <ion-option value="male">Male</ion-option>
        <ion-option value="female">Female</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.gender.valid && signupForm.controls.gender.touched">
      Gender is required
    </ion-item>
    <ion-item>
      <ion-label stacked>Address</ion-label>
      <ion-input #address formControlName="address" type="text" [class.invalid]="!signupForm.controls.address.valid && signupForm.controls.address.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.address.valid && signupForm.controls.address.touched">
      Address is required
    </ion-item>
    <ion-item>
      <ion-label stacked>Mobile</ion-label>
      <ion-input #mobile formControlName="mobile" type="number" [class.invalid]="!signupForm.controls.mobile.valid && signupForm.controls.mobile.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.mobile.valid && signupForm.controls.mobile.touched">
      Mobile is required and should be 10 numbers
    </ion-item>
    <button ion-button block (click)="register()" [disabled]="!signupForm.valid" type="submit">Register</button>
    <button ion-button block outline (click)="login()">Already have account? Login</button>
  </form>

</ion-content>
